@use "../abstracts/variables" as a;
$length: 250px;
.square-btn {
  transition: 0.5s;
  width: $length;
  height: $length;
  background: a.$contrast-color;
  box-shadow: 0 0 30px 0 rgba(a.$light-color, 0.1);
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    background: a.$accent-color;
    box-shadow: 0 0 30px 0 a.$accent-color;
  }
}
